.myBg {
    height: 100vh;
    background: url("../assets/images/bg/main.jpg");
    background-size: cover;
    background-position: center;
}

.intro {
    height: 410px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    line-height: 1;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.trending {
    height: auto;
    background: url("../assets/images/bg/scfi.jpg");
    background-size: cover;
    background-position: center;
}

.movieImage {
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.Images {
    height: 500px;}

.superhero {
    height: auto;
    background: url("../assets/images/bg/car.jpg");
    background-size: cover;
    background-position: center;
}
